<?xml version="1.0"?>
<!--
/**
 * Reviews
 * 
 * @author Slava Yurthev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="SY\Reviews\Api\Data\ReviewInterface" type="SY\Reviews\Model\Review" />
	<virtualType name="SYReviewsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
		<arguments>
			<argument name="appliers" xsi:type="array">
				<item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
				<item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="SYReviewsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">SY\Reviews\Model\ResourceModel\Review\Collection</argument>
			<argument name="filterPool" xsi:type="object" shared="false">SYReviewsGridFilterPool</argument>
		</arguments>
	</virtualType>
	<virtualType name="SY\Reviews\Model\ResourceModel\Review\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">sy_review</argument>
			<argument name="resourceModel" xsi:type="string">SY\Reviews\Model\ResourceModel\Review</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="sy_reviews_data_source" xsi:type="string">SY\Reviews\Model\ResourceModel\Review\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>